<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your tickets order</title>
    <style>
        h1 {
            font-size: 40px;
            color: #ab2320;
        }
    </style>
</head>

<body>
    <h1>YOUR TICKET ORDER</h1>
    <img src="cid:cinema-room" />
    <p>Hello {{name}} {{surname}}!</p>
    <p>Bellow You will find confirmation about Your order. <br />
        Show this message before entry to validate Your ticket by staff member</p>
    <br />
    <h3>Movie: {{title}}</h3>
    <h3>When: {{date}} </h3>
    <h3>Seats: {{seats}}</h3>
    <h3>Total price: {{price}}</h3>
    <br />
    <h2>ENJOY YOUR MOVIE!</h2>
</body>

</html>