<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your tickets order</title>
</head>

<body>
    <h1>YOUR TICKET ORDER</h1>
    <img src="cid:cinema-room" />
    <p>Hello {{name}} {{surname}}!</p>
    <p>Bellow You will find confirmation about Your order. <br />
        Show this message before entry to validate Your ticket by staff member</p>
    <br />
    <h4>Movie: {{title}}</h4>
    <h4>When: {{date}} </h4>
    <h4>Seats: {{seats}}</h4>
    <h5>Total price: {{price}} PLN</h5>
    <br />
    <h2>ENJOY YOUR MOVIE!</h2>
</body>

</html>